.cpu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: all .25s linear;
    padding-bottom: 5vh;
    position: absolute;
    -ms-transform: skew(0deg,0deg); /* IE 9 */
    -webkit-transform: skew(0deg,0deg); /* Safari */
    transform: skew(0deg,-0deg); /* Standard syntax */
    
    
}

.cpu:hover{
    transform: rotate(0deg) skew(0deg,-3deg) translate(.1em, -.1em);
    transition: all .25s linear;

}

.cpu-screen{
    height:120px;
    width:200px;
    background-color: rgba(239,239,239,1);
    position: absolute;
    display:flex;
    justify-content: center;  
    align-items: center;
    border-radius: 2%;
    color: green;
    transition: all .25s linear;


}
#cpu-screen{
    height:120px;
    width:200px;
    background-color: black;
    display:flex;
    justify-content: center;  
    align-items: center;
    border-radius: 2%;
    color: green;
    transition: all .25s linear;
}

.cpu:hover #cpu-screen{
    margin-right: 18px;
    margin-bottom: 15px;
    transition: all .25s linear;


}

.glare{
    height:100%;
    width:100%;
    position: absolute;
    z-index: 3;
    transition: all .25s linear;
    margin-top: 2px;

}
.cpu:hover #glare{
    transition: all .25s linear;

    background-image: linear-gradient(-80deg, rgba(255,255,255,1) -85%, rgba(17, 157, 164,0) 30%);
}


.cpu-screen2{
    height: 80px;
    width: 175px;
    background-color: black;
    position: absolute;
    padding: 7px;
    font-size: 9px;
}

.cpu-text{
    margin-bottom: 0;
    color: rgba(93,169,233,1);

}

.cpu-screen-bottom{
    height:12px;
    width:200px;
    background-color: rgb(128,128,128);
    position: absolute;
    display:flex;
    justify-content: center;  
    align-items: center;
    border-radius: 0% 0% 2% 2%;
    margin-top: 58px;

}

.stem{
    height: 60px;
    background-color: rgba(239,239,239,1);
    width: 15px;
    margin-top: 80px;
    position: absolute;
    z-index: -1;

}

#stem{
    background-color: black;
    margin-top: 80px;
    position: absolute;
    z-index: -1;
    transition: all .25s linear;

}


.cpu:hover #stem{
    height: 50px;
    width: 15px;
    color: antiquewhite;
    margin-left: -5px;
    margin-top: 82px ;
    transition: all .25s linear;

}

.base{
    
    height: 20px;
    background-color: rgba(239,239,239,1);
    width: 100px;
    margin-top: 110px;
    position: absolute;
    border-radius: 100%;
    z-index: -2;
}

#base{
    
    background-color: rgba(0,0,0,1);
    position: absolute;
    border-radius: 100%;
    z-index: -3;
    transition: all .25s linear;

}

.cpu:hover #base{
    background-color: rgba(0,0,0,1);
    margin-top: 109px;
    margin-left: -6px;
    position: absolute;
    border-radius: 100%;
    transition: all .25s linear;
    z-index: -3;
}

